<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
		<servlet-name>Customer</servlet-name>
		<servlet-class>com.rest_api.rest_api.CustomerResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer</servlet-name>
		<url-pattern>/customers</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>Transaction</servlet-name>
		<servlet-class>com.rest_api.rest_api.TransactionResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Transaction</servlet-name>
		<url-pattern>/transactions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.rest_api.rest_api.LoginManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>